

#TransferContainer
{
    width: 100%;
    
}

#TransferContainer #TransferAccountForm
{
   margin: 10px auto auto auto;
    width: 100%;
    font-family: verdana;
    font-size: 10pt;
}

#TransferContainer #TransferAccountForm table
{
   margin: auto auto auto auto;
}



#TransferContainer #CustomContainer
{
   margin: 10px auto auto auto;
    width: 100%;
}

#TransferContainer #CustomData
{
   padding: 10px;
}


#TransferContainer #CustomData
{
   font-family: verdana;
    font-size: 10pt;
    text-shadow: 0px 0px 4px rgba(131, 219, 253, 0.68);
    font-weight: bold;
}



.TransferFieldsMsg
{
    position: absolute;
    margin-top: -8px;
    margin-left: 10px;
    font-size: 7pt;
}

#SystemMsg
{
    position: absolute;
    text-align: center;
    margin: 8px auto auto auto;
    width: 670px;
}