{% include 'Layout/header.html' %}
    <div id="GetBackToRanking"><a href="players">&#60;- Players Ranking</a></div>
    <div id="clansContainer">
        
        <table id="clans">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <!--<th>Emblem</th>/-->
                    <th>Master</th>
                    <th>Wins</th>
                    <th>Losses</th>
                    <th>Points</th>
                </tr>
            </thead>
            <tbody>
                {% for row, clan in clans %}
                <tr class="clan topRank{{(clan['Ranking'])}}">
                    <td>{{clan['Ranking']}}</td>
                    <td><a class="clan_link" href="{{BASE_CLAN_PROFILE_PATH~clan['Name']['RegularName']}}">{{clan['Name']['ColorName']|raw}}</a></td>
                    <!--<td><img class="ClanEmblem" src="{{BASE_CLAN_EMBLEM_DIR~clan['EmblemUrl']}}"/></td>/-->
                    <td><a class="player_link" href="{{BASE_PLAYER_PROFILE_PATH~clan['MasterName']['RegularName']}}">{{clan['MasterName']['ColorName']|raw}}</a></td>
                    <td>{{clan['Wins']}}</td>
                    <td>{{clan['Losses']}}</td>
                    <td>{{clan['Point']}}</td>
                </tr>
                {% endfor %}
                 
            </tbody>
        
        </table>
        {% if Start_Page_Navigate != End_Page_Navigate %}
        <div id="HoldingNavigatePage">
            <div id="wrapperNavigatePages">
            {% if  Curr_Page_Navigate > Start_Page_Navigate %}
            <div class="PageNumber" title="Previous Page"><a href="{{BASE_CLANS_RANKING_PATH~(Curr_Page_Navigate-1)}}">Prev</a></div>
            {% endif %}
            {% for i in Start_Page_Navigate..End_Page_Navigate %}
                {% if i == Curr_Page_Navigate %}
                    <div class="PageNumber" title="Page: {{i}}" style="color: orange !important;">[{{Per_Page*(i-1)+1}}-{{Per_Page+(Per_Page*(i-1))}}]</div>
                {% else %}
                    <div class="PageNumber" title="Page: {{i}}"><a href="{{BASE_CLANS_RANKING_PATH~i}}">[{{Per_Page*(i-1)+1}}-{{Per_Page+(Per_Page*(i-1))}}]</a></div>
                {% endif %}
            {% endfor %}
            {% if  Curr_Page_Navigate < End_Page_Navigate%}
            <div class="PageNumber" title="Next Page"><a href="{{BASE_CLANS_RANKING_PATH~(Curr_Page_Navigate+1)}}">Next</a></div>
            {% endif %}
            </div>
        </div>
        {% endif %}
    
    </div>
{% include 'Layout/footer.html' %}